{% extends 'base.html.twig' %}

{% block body %}
	<div style="text-align: center; margin-top: 50px;">	
	    <h1>Page not found</h1>
	    <p>
	        Please go to the <a href="{{ path('homepage') }}">home page</a>
	    </p>
	</div>
{% endblock %}