// Very simple grid system for this gallery

@for $i from 1 through 12 {
	.g-xs-#{$i} {
		@media (max-width: 500px){
			width: 8.33333% * $i;
		}
	}

	.g-sm-#{$i} {
		@media (min-width: 501px) and (max-width: 900px){
			width: calc(#{8.33333% * $i} - 10px);
		}
	}

	.g-md-#{$i} {
		@media (min-width: 901px) and (max-width: 1199px){
			width: calc(#{8.33333% * $i} - 10px);
		}
	}

	.g-lg-#{$i} {
		@media (min-width: 1200px){
			width: calc(#{8.33333% * $i} - 10px);
		}
	}
}