h1, h2, h3 {
	font-weight: 200;
}

h1 {
	font-size: 40px;
    line-height: 44px;
    margin-bottom: 33px;
    margin-top: 44px;
}

h2 {
    font-size: 34px;
    line-height: 44px;
    margin-bottom: 22px;
    margin-top: 33px;
}

h3 {
	font-size: 24px;
    line-height: 33px;
    margin-bottom: 22px;
    margin-top: 33px;
}

h4 {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 11px;
    margin-top: 22px;
    font-weight: 600;
}