<section class="header">
	<img src="/assets/img/logo.png" alt=""> <h1><a href="/">payever gallery</a></h1>
</section>

<section class="controls"></section>
<section class="content"></section>
<section class="pagination"></section>