<h3><label for="newAlbumName">Create new album</label></h3>
<input id="newAlbumName" class="form-def" type="text" name="album_name" value="" placeholder="Type album name" />
<button type="button" class="btn-main">create</button>