<form method="POST">
	<h3><label for="newAlbumName">Create new album</label></h3>
	<input id="newAlbumName" class="form-def" type="text" name="name" value="" placeholder="Type album name" />
	<button type="submit" class="btn-main">create</button>
</form>